#my-timeline{
	background:linear-gradient(to right, #322c35, #545454, #322c35);
}
#my-timeline .section-title{
	margin-top:20px;
	margin-bottom:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#my-timeline .timeline-inner {
	position: relative;
	padding: 20px 0;
}
#my-timeline .timeline-inner::before{
	content: "";
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-left: -2px;
	position: absolute;
	display: table;
	height: 100%;
	width: 4px;
	left: 50%;
	top: 0;
}
#my-timeline .single-timeline {
	padding-right: 120px;
}
#my-timeline .single-main:nth-child(2n) .single-timeline{
	padding-right:0px;
	padding-left:120px;
}
#my-timeline .single-timeline .single-content {
	background: lavender;
	padding: 25px;
	width: 50%;
	position: relative;
    -webkit-box-shadow: 1px 1px 6px rgba(20, 20, 20, 0.4);
	-moz-box-shadow: 1px 1px 6px rgba(20, 20, 20, 0.4);
	box-shadow: 1px 1px 6px rgba(20, 20, 20, 0.4);
}
#my-timeline .single-main:nth-child(2n) .single-timeline .single-content {
	margin-left: 50.4%;
}
#my-timeline .single-timeline .single-content:before {
	border: 15px solid transparent;
	border-left-color: #ccc;
	right: -31px;
	top: 29px;
	content:"";
	position:absolute;
	content:"";
}
#my-timeline .single-main:nth-child(2n) .single-timeline .single-content:before{
	right: auto;
	left:-31px;
	border-left-color: transparent;
	border-right-color: #ccc;
}
#my-timeline .single-timeline .single-content:after {
	border: 15px solid transparent;
	border-left-color: lavender;
	right: -30px;
	top: 26px;
	content:"";
	position:absolute;
	content:"";
}
#my-timeline .single-main:nth-child(2n) .single-timeline .single-content:after{
	left: -30px;
	border-left-color: transparent;
	border-right-color: lavender;
	right:auto;
}
#my-timeline .single-timeline .date {
	position: absolute;
	right: -90px;
	padding: 5px;
	border-radius: 5px;
	width: 70px;
	text-align: center;
	font-weight: 700;
    background-color: darkcyan;
}
#my-timeline .single-main:nth-child(2n) .single-timeline .date {
	left: -93px;
	right: auto;
}
#my-timeline .single-timeline .date p{
	color: #fff;
	margin:0;
}
#my-timeline .single-timeline h2 {
	font-size: 18px;
	position: relative;
	padding-bottom: 12px;
	margin-bottom: 12px;
	display: inline-block;
	text-transform: uppercase;
}
#my-timeline .single-timeline h2::before {
	position: absolute;
	bottom: -1px;
	content: "";
	left: 0%;
	width: 50px;
	height: 2px;
}
#my-timeline .section-icon{
    display: flex;
}
#my-timeline .hr-line {
	width: 50%;
	position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
}
#my-timeline .fa-briefcase{
    position: relative;
    top:6px;
}
